{{!-- Comment list --}}
<section class="comments">
  <h2>{{title}}</h2>
  {{#each comments}}
    <article class="comment">
      <h3>{{this.author}}</h3>
      <p>{{this.body}}</p>
      {{#if this.edited}}<em>(edited)</em>{{/if}}
    </article>
  {{else}}
    <p>No comments yet.</p>
  {{/each}}
</section>
