-# User profile
.profile
  %h1= @user.name
  %img{src: @user.avatar, alt: "avatar"}
  - if @user.admin?
    %span.badge Admin
  %ul
    - @user.posts.each do |post|
      %li= post.title
  :javascript
    console.log("profile loaded");
